<div class="container">
  <h1 class="mat-display-1">Resources</h1>
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="30px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Angular
          <code>{{versions.angular}}</code>
        </mat-card-title>
        <mat-card-subtitle>Modern powerful framework</mat-card-subtitle>
        <mat-card-actions>
          <a mat-icon-button href="https://github.com/angular/angular" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
          </a>
          <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
            <fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon>
            Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Angular Material
          <code>{{versions.material}}</code>
        </mat-card-title>
        <mat-card-subtitle>Material design component library</mat-card-subtitle>
        <mat-card-actions>
          <a mat-icon-button href="https://github.com/angular/material2/" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
          </a>
          <a mat-button href="https://material.angular.io/" target="_blank">
            <fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon>
            Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Angular Cli
          <code>{{versions.angularCli}}</code>
        </mat-card-title>
        <mat-card-subtitle>Responsive layout from battle tested, world most famous UI library</mat-card-subtitle>
        <mat-card-actions>
          <a mat-icon-button href="https://github.com/angular/angular-cli" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
          </a>
          <a mat-button href="https://cli.angular.io/" target="_blank">
            <fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon>
            Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          <code>{{versions.typescript}}</code> Typescript</mat-card-title>
        <mat-card-subtitle>Superior developer experience, code completion, refactoring and less bugs</mat-card-subtitle>
        <mat-card-actions>
          <a mat-icon-button href="https://github.com/Microsoft/TypeScript" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
          </a>
          <a mat-button href="https://www.typescriptlang.org/docs/home.html" target="_blank">
            <fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon>
            Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          <code>{{versions.fontAwesome}}</code> Font Awesome 5
        </mat-card-title>
        <mat-card-subtitle>Easy to use vector icons and social logos</mat-card-subtitle>
        <mat-card-actions>
          <a mat-icon-button href="https://github.com/FortAwesome/Font-Awesome" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
          </a>
          <a mat-button href="https://fontawesome.com/icons" target="_blank">
            <fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon>
            Docs
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>