.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  margin-top: 100px;
  min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
  overflow: hidden;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
