<!-- <h1 class="mat-display-1">Hello world!</h1>
<h2 class="mat-h2">Hello world!</h2>

<section class="mat-typography">
  Hello world!
</section> -->

<div class="circular">
  <!-- <img class="self" src="../../assets/me.jpg" alt="">   -->
</div>
<div class="card">
  <img [class.mat-elevation-z24]="1" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/47672847810259.58863b7ed2435.gif"
    srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/47672847810259.58863b7ed2435.gif 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/47672847810259.58863b7ed2435.gif 817w,"
    sizes="(max-width: 817px) 100vw, 817px">

  <section class="mat-typography">
    <h2>developer</h2>
    <h2>programmer</h2>
    <h2>technology enthusiast</h2>
  </section>
  <mat-divider></mat-divider>
  <div class="clip-text clip-text_one clip-text--cover">clyde bryan ferrolino</div>
</div>
