<h1 class="mat-h1">Overview</h1>
<div style="text-align: center" class="overview">
    <p class="mat-body-2">I like building things especially things that are useful to other people. Planning out how to solve complex problems,
      iterating those plans and seeing them come to life is exiting. Being able to communicate interesting ideas to others
      excites me the most. I also like learning, the joy of always learning. In one way or another the problem is ever new,
      and its solver learns something: sometimes practical, sometime theoretical and sometimes both.
    </p>
</div>

<h1 class="mat-h1">Experience</h1>
<mgl-timeline [alternate]="timelineAlternate">
  <mgl-timeline-entry>
    <mgl-timeline-entry-header>
      <section class="mat-typography">
        <h2 style="display: inline; margin-right: 15px;">Wizzard Technologies Inc. </h2>
        <h3 style="display: inline;">Developer</h3>
        <p>Vb.Net, T-Sql, SAP Crystal Reports, SVN </p>
      </section>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <mat-list>
        <mat-list-item>Develop and customize system based on clients needs</mat-list-item>
        <mat-list-item>Led, architected and participated in the design, testing and deployment of client/server</mat-list-item>
        <mat-list-item>Participate for requirements gathering, needs analysis, testing, scripting and documentation to strengthen quality
          and functionality of business-critical applications</mat-list-item>
        <mat-list-item>Implement, and communicate code standards among the team</mat-list-item>
        <mat-list-item>Designed and implemented normalized data structures (using Microsoft Sql Server)</mat-list-item>
        <mat-list-item>Maintain employee portal using PHP and Bootstrap</mat-list-item>
      </mat-list>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot [size]="timelineSize"></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side>January 2017 - current</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>

<h1 class="mat-h1">Education</h1>
<mgl-timeline [alternate]="timelineAlternate">
  <mgl-timeline-entry>
    <mgl-timeline-entry-header>
      <section class="mat-typography">
        <h2 style="display: inline; margin-right: 15px;">AMA Computer Learning Center</h2>
        <p>Software Development – two (2) year course</p>
      </section>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <mat-list>
        <mat-list-item>Class Scheduling System - Projects</mat-list-item>
        <mat-list-item>Inventory System - Projects</mat-list-item>
      </mat-list>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot [size]="timelineSize"></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side>June 2015 - October 2016</mgl-timeline-entry-side>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header>
      <section class="mat-typography">
        <h2 style="display: inline; margin-right: 15px;">Rizal Technological University</h2>
        <p>Electronics and Communication Engineering Technology (ECET) – three (3) year course</p>
      </section>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <mat-list>
        <mat-list-item>National Certificate II – Consumer’s Electronics</mat-list-item>
      </mat-list>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot [size]="timelineSize"></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side>June 2011 - March 2015</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>